.wrapper{
    display: flex;
    width: 100%;
}

.sidebar{
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #7804c5;
    color: #fff ;
    transition: all 0.3s;
}

.custom-link{
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    transition: 0.5s all ease-in-out;
}
.custom-link:hover{
    color:#c2bcbcf6 !important;
}
.cm-5{
    margin-left:10rem !important;
}
@media screen and (max-width:600px){
       body{
        overflow:hidden;
        scroll-behavior: smooth;
       }
       .sidebar{
        width: 180px;
        margin-bottom:0px ;
       }
       .sidebar h3{
        font-size:14px;
       }
       .custom-link{
        font-size:13px;
       }
       .section{
        margin-left:20px;
        /* text-align: justify !important; */
        /* inline-size: min-content; */
        /* overflow-wrap: break-word; */
       }
}